# Node modules
node_modules/

# Build output
dist/
*.bundle.js
*.map

# Logs
*.log

# Environment variables
.env

# Temporary files
*.tmp
*.temp

# Python cache
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# MacOS system files
.DS_Store

# Ignore any data files that should not be tracked
data/
*.jsonl.gz

# Ignore any model files
models/model/*
